.button {
  display: flex;
  padding: 1em 2em;
  font-size: 1rem;
  -webkit-appearance: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;

  &.primary {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);

    &:hover {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
    }
  }

  &.secondary {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);

    &:hover {
      background: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }
  }
}
