@import './reset';
@import './variables';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $baseFont;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  line-height: 1.6;
}

p {
  margin: 0;
}

img,
video {
  max-width: 100%;
}

.page-section {
  padding: 120px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
