#shop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .shop-title {
    display: flex;
    position: relative;
    font-size: 2.5rem;
    line-height: 1.6;
    font-weight: 300;
    font-style: italic;
    justify-content: center;
    padding-bottom: 50px;

    &:after {
      content: '';
      width: 6%;
      height: 2px;
      background: #333333;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 30px;
    }
  }

  .shop-blurb {
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;

    .card-item {
      display: flex;
      padding: 0.5em;
      width: 100%;

      @media all and (min-width: 40em) {
        width: 50%;
      }
      @media all and (min-width: 60em) {
        width: 33.33%;
      }
    }

    .card-content {
      padding: 1em;
      width: 100%;
    }

    .card-content p {
      flex: 1 0 auto;
    }

    .product-title,
    .product-price {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
      margin-top: 0.7em;
    }

    .product-price {
      text-align: right;
      width: 30%;
    }

    .button {
      padding: 0.5em 1em;
      margin-top: 0.7em;
    }
  }
}
